#promo_checkout {
  width: 514px;
  height: 504px;
  padding: 12px 0 0;
  background: transparent url("images/starburst_background.jpg") no-repeat top left;
  background-size: 100%;
}

#promo_checkout .accordion {
  position: relative;
}

#promo_checkout h3.follow,
#promo_checkout h3.subscribe,
#promo_checkout h3.order {
  width: 499px;
  height: 47px;
  margin: 0 auto;
  padding: 0;
  display: block;
  text-indent: -99999em;
}

#promo_checkout div.follow,
#promo_checkout div.subscribe,
#promo_checkout div.order {
  position: relative;
  width: 420px;
  margin: -8px 0 0 50px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #069ec3;
  border-top: 0px none;
}

#promo_checkout h3.follow {
  background: transparent url("images/1_become.png") no-repeat top left;
}

#promo_checkout h3.follow:hover {
  background-position: 0 -55px;
}

#promo_checkout div.follow {
  height: 245px;
}

#promo_checkout div.follow .facebook_holder {
  border: none;
  width: 400px;
  height: 245px;
  margin: 0 10px;
}

#promo_checkout div.follow .twitter_holder {
  border: none;
  width: 160px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: -15px;
}

#promo_checkout div.follow .twitter_holder span {
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
  color: #3B5998;
  line-height: 15px;
  font-family: Lucida;
}

#promo_checkout div.follow .twitter_holder span span {
  font-weight: normal;
  font-size: 80%;
}

#promo_checkout div.follow .twitter_holder iframe {
  border: 0;
}

#promo_checkout h3.subscribe {
  background: transparent url("images/2_subscribe.png") no-repeat top left;
}

#promo_checkout h3.subscribe:hover {
  background-position: 0 -51px;
}

#promo_checkout div.subscribe {
  height: 105px;
}

#promo_checkout h3.order {
  background: transparent url("images/3_order.png") no-repeat top left;
}

#promo_checkout h3.order:hover {
  background-position: 0 -51px;
}

#promo_checkout div.order {
  height: 320px;
  font-size: 11px;
  text-align: center;
}

#promo_checkout div.order p {
  margin: 0;
  padding: 0;
}

#promo_checkout div.order .widget .send_where {
  width: 369px;
  height: 15px;
  margin: 0 25px 5px 25px;
  display: block;
  background: transparent url("images/Where_do_you_need.png") no-repeat top left;
  text-indent: -99999em;
}

#promo_checkout div.order .widget #countrys {
  font-size: 14pt;
  height: 25px;
  width: 400px;
}

#promo_checkout .complete_steps {
  margin: 15px 0 0 0;
  color: #0B9EC4;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

#promo_checkout .complete_steps ol li,
#promo_checkout .complete_steps ol li a {
  color: #F68D1F;
}

#promo_checkout .why_pay_shipping {
  font-size: 10pt;
}

#promo_checkout .order .why_pay_shipping .back_to_cart {
  float: left;
  margin-right: 0.5em;
  font-size: 10pt;
}

#promo_checkout .order .why_pay_shipping p {
  margin: 0;
  padding: 0.25em 0;
  font-family: Arial, sans-serif;
  text-align: left;
  clear: left;
}

#promo_checkout .shipping_notice {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

#promo_checkout .select_qty {
  width: 183px;
  height: 130px;
  margin-top: 5px;
  padding: 0.25em;
  background: transparent url("images/menu_box.png") repeat-x 0 0;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
  float: left;
  display: none;
}

#promo_checkout .select_qty ul {
  margin: 10px 0 0 5px;
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  text-align: left;
}

#promo_checkout .select_qty ul li a {
  position: relative;
  color: rgb(150, 150, 150);
  text-decoration: none;
}

#promo_checkout .select_qty ul li a img {
  position: relative;
  border: 0px;
}

#promo_checkout .cart {
  float: right;
  width: 200px;
  margin: 5px -20px 0px 0px;
  padding: 35px 25px 5px 10px;
  background: transparent url("images/shopping_cart_box.png") no-repeat scroll left top;
  height: 200px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: right;
  position: relative;
}

#promo_checkout .cart img.empty {
  position: absolute;
  left: 20px;
  top: 30px;
}

#promo_checkout a[href="#why_pay_shipping"] {
  display: none;
}

#promo_checkout .buttons {
  position: relative;
  top: -8px;
  clear: both;
}