<!DOCTYPE html>
<html>
<head>
<script src="//cdn.optimizely.com/js/23860275.js"></script>
    <meta charset="utf-8">
    <title>{{ store_name|raw }} Receipt</title>
    {# if you plan to customize your template, use the "text" theme instead of the "standard" one. #}
    {# <link rel="stylesheet" href="https://{{ store_domain }}/themes/text/styles.css" type="text/css" media="screen" charset="utf-8" /> #}
    <link rel="stylesheet" href="https://{{ store_domain }}/themes/standard/styles.css" type="text/css" media="screen" charset="utf-8" />

<link rel="stylesheet" href="../foxy_css/foxy.css" type="text/css" media="screen" charset="utf-8" />
<script src="http://cdn.foxycart.com/oraclub-staging/foxycart.colorbox.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	appendBarkIamge();
	callCart();
});
function appendBarkIamge(){
	var cust_email = $('.fc_customer_email span.fc_text').html();
	var order_value = $('.fc_order_id span.fc_text').html();
	$('.bark-image').append('<img src="http://bark.orapup.com/sale.php?uid='+cust_email+'&order_id='+order_value+'" />');
}
function callCart() {

	var storeName = (fc_json.custom_fields.storename) ? fc_json.custom_fields.storename : "orabrush.com";
	var hostSite = (fc_json.custom_fields.host_site) ? fc_json.custom_fields.host_site : "orabrush";
		//alert(storeName);
		if(storeName == 'oraclub.com' || storeName == 'orapup.com' || storeName == 'oraclub.com/orapup' || hostSite == 'orapup'){
			storeName = 'orapup.com';
		}else{
			storeName = 'orabrush.com';
		}
		if (storeName == "orapup.com" || storeName == "orapup" || storeName == 'oraclub.com/orapup' || hostSite == 'orapup') {
			$('.site-header').addClass('orapup-header');
		} else {
			$('.site-header').addClass('orabrush-header');
		}

		var a = document.createElement('a');

		a.href = "http://staging."+storeName;
		var hostname = "staging."+storeName;
		var protocol = 'http:';
		$('.site-header .site-title a').attr('href', protocol + '//' + hostname);
		var orderIdHash = $.MD5($('.fc_order_id .fc_text').text());
		var emailHash = $.MD5($('.fc_customer_email .fc_text').text());
		$('#fc_receipt_continue_link').attr('href', protocol + '//' + hostname+'/myorders?o='+orderIdHash +'&e='+emailHash);
		$('.bottom-links #fc_receipt_continue_link.fc_link_nav').attr('href', protocol + '//' + hostname+'/myorders?o='+orderIdHash +'&e='+emailHash);
}
</script>
</head>

<body id="checkout">
<header role="banner" class="site-header" id="masthead">
	<div class="header-links">
		<a href="http://www2.orabrush.com/find-store/">         <span></span></a>
	</div>
	<hgroup>
		<h1 class="site-title"><a rel="home" title="Tongue Cleaner" href="http://www2.orabrush.com/">
		<span></span>
		</a></h1>
	</hgroup>
</header>
    <div id="pageContainer" style="width:830px; margin:0px auto;">



    {% if not is_updateinfo %}
    <div id="fc_checkout_cart">
        {{ custom_cart }}
    </div>
    {% endif %}


    {% use 'receipt.inc.twig' %}

    {% block receipt %}
    <div id="fc_receipt_container"><div id="fc_receipt_container_inner">
       <div class="receipt-title"> <span id="fc_receipt_heading">Your Receipt</span></div>

        {{ block('messaging') }}{# UpdateInfo, Subscription Cancel #}
        {{ block('downloadable_links') }}{# Downloadable product links #}

      {#  {{ block('general_information') }} #}{# Processor response and date #}
        {# Order total costs, subtotals, and payment info #}
        
        {% block order_information %}
        <div id="fc_receipt_order_container" class="fc_fieldset_container ">
            <h2>{{ lang.checkout_order_information|raw }}</h2>
            <fieldset id="fc_receipt_order">
                <legend>{{ lang.checkout_order_information|raw }}</legend>
                <div class="fc_inner">
                    <ol id="fc_receipt_order_list">
                        <li class="fc_row fc_order_id">
                            <span class="fc_pre">{{ lang.checkout_order_id|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ order_id }}</span>
                        </li>
                    {% if purchase_order != '' %}
                        <li class="fc_row fc_purchase_order">
                            <span class="fc_pre">{{ lang.checkout_purchase_order|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ purchase_order }}</span>
                        </li>
                    {% endif %}
                    {% if payment_type == 'plastic' %}
                        <li class="fc_row fc_cc_number_masked">
                            <span class="fc_pre">{{ lang.checkout_card_number|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ cc_number_masked }} ({{ cc_type }})</span>
                        </li>
                    {% endif %}
                        <li class="fc_row fc_order_subtotal">
                            <span class="fc_pre">{{ lang.checkout_subtotal|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ receipt_subtotal }}</span>
                        </li>
                {% if has_shipping_or_handling_cost %}
                        <li class="fc_row fc_order_shipping">
                            <span class="fc_pre">{{ lang.checkout_shipping|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ receipt_shipping_cost }}</span>
                        </li>
                {% endif %}
                    {% if has_discount %}
                        <li class="fc_row fc_order_discount">
                            <span class="fc_pre">{{ lang.checkout_discount|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ receipt_discount }}</span>
                        </li>
                    {% endif %}
                    {% if has_taxes %}
                        <li class="fc_row fc_order_tax">
                            <span class="fc_pre">{{ lang.checkout_tax|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ receipt_tax }}</span>
                        </li>
                    {% endif %}
		    {% if has_future_products %}
                        <li class="fc_row fc_order_total">
                            <span class="fc_pre">{{ lang.checkout_order_total|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text" id="fc_total_future">{{ (receipt_subtotal + receipt_shipping_cost)|money_format }}</span>
				<script type="text/javascript" charset="utf-8">
 
  				var my_order_subtotal = "{{ receipt_subtotal }}"; //twig
				var my_shipping_total = "{{ receipt_shipping_cost }}"; //twig
				my_order_subtotal = my_order_subtotal.replace("$", "");
				my_shipping_total = my_shipping_total.replace("$", "");
				var my_future_order_total = parseFloat(my_shipping_total) + parseFloat(my_order_subtotal);

				$('#fc_total_future').html('$'+my_future_order_total.toFixed(2));
				</script>
			</li>
		    {% else %}
                        <li class="fc_row fc_order_total">
                            <span class="fc_pre">{{ lang.checkout_order_total|raw }}<span class="fc_colon">:</span></span>
                            <span class="fc_text">{{ order_total }}</span>
                        </li>
		    {% endif %}
                    </ol>
                    <span class="fc_clear">&nbsp;</span>
                </div><!-- .fc_inner -->
            </fieldset><!-- #fc_receipt_order -->
            <span class="fc_clear">&nbsp;</span>
        </div><!-- #fc_receipt_order_container -->
        {% endblock order_information %}

        {{ block('billing_information') }}{# Billing name and address #}

        {% if not has_multiship %}
            {% if use_alternate_shipping_address or has_shippable_products %}
                 {{ block('shipping_address') }}
            {% endif %}
        {% else %}
            {{ block('multiship_addresses') }}
        {% endif %}

        {{ block('custom_fields') }}

    </div>
 {{ block('receipt_links') }}{# print, continue links #}
<span class="fc_clear">&nbsp;</span>
</div><!-- #fc_receipt_container_inner, #fc_receipt_container -->
<div class="bottom-links"> {{ block('receipt_links') }}{# print, continue links #}</div>
    {% if first_receipt_display %}
        {# If you have a system (affiliate, analytics) that doesn't handle duplicating data well, put that code in here #}
        ^^receipt_only^^
		<div class="bark-image"></div>
    {% endif %}

    {% endblock receipt %}



    </div>
{% if first_receipt_display %}
<script type="text/javascript" charset="utf-8">
 
  var my_order_total = "{{ order_total }}"; //twig
  my_order_total = my_order_total.replace("$", "");
  if(typeof my_future_order_total==="undefined"){
  }else if(my_future_order_total>0){
    my_order_total = my_future_order_total;
  }
  window.optimizely = window.optimizely || [];
 
  window.optimizely.push(['trackEvent', 'new_orabrush_revenue', (parseFloat(my_order_total) * 100 )]);
   if(fc_json.custom_fields.storename=='oraclub.com/orapup'){
  window.optimizely.push(['trackEvent', 'new_orapup_subscriber']);
 }else if(fc_json.custom_fields.storename=='oraclub.com/orabrush'){
  window.optimizely.push(['trackEvent', 'new_orabrush_subscriber']);
 }
 
</script>
<!-- Google Code for Orapup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1038938345;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "T6-ACI2biAcQ6eGz7wM";
var google_conversion_value = my_order_total;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1038938345/?value=15&amp;label=T6-ACI2biAcQ6eGz7wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for Orapup Success Page -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1038938345;
var google_conversion_label = "WgGsCIW26gcQ6eGz7wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript"
	src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display: inline;"><img height="1" width="1"
	style="border-style: none;" alt=""
	src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1038938345/?value=0&amp;label=WgGsCIW26gcQ6eGz7wM&amp;guid=ON&amp;script=0" />
</div>
</noscript>


<!-- second adwords account -->
<!-- Google Code for Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 994516177;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Dh-8CN_aqgUQ0bmc2gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/994516177/?value=0&amp;label=Dh-8CN_aqgUQ0bmc2gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<img src="https://shareasale.com/sale.cfm?amount={{ subtotal }}&tracking={{ order_id }}&transtype=sale&merchantID=25740" width="1" height="1">
{% endif %}
<script src="../wp-content/themes/orabrush/js/orabrush.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
